// #header .example{
// 	// lkasjfklsdlkgklsda
// }

// #header .content2 .sub_content_2{
// 	// dsfsdgsdfg
// }

#header{
	color: blue;
	background-color: #f5f5f5;
	.example{
		height: 40px;
		font-size: 16px;
		background-color: #453454;
	}
	.conten1{
		font-size: 16px;
	}
	.content2{
		font-size: 16px;
		.sub_content1{
			color: red;
			font-size: 12px;
		}
		.sub_content_2{
			font-size: 12px;
		}
	}
}